<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
  <li>
    <a href="https://www.reddit.com/user/onqtam" itemprop="sameAs">
      <i class="fa fa-fw fa-reddit" aria-hidden="true"></i> Reddit
    </a>
  </li>
  <li>
    <a href="https://goodreads.com/onqtam" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Goodreads
    </a>
  </li>
  <li>
    <a href="https://slides.com/onqtam" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Slides
    </a>
  </li>
  <li>
    <a href="https://www.patreon.com/onqtam" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Patreon
    </a>
  </li>
  <li>
    <a href="http://www.imdb.com/user/ur40788994" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> IMDb
    </a>
  </li>