<!--
  <li>
    <a href="/assets/viktor_kirilov_cv.html" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> My CV
    </a>
  </li>
-->
  <li>
    <b>Other links:</b>
  </li>
  <li>
    <a href="https://www.reddit.com/user/onqtam" itemprop="sameAs">
      <i class="fa fa-fw fa-reddit" aria-hidden="true" style="color:#ff4500;"></i> Reddit
    </a>
  </li>
  <li>
    <a href="http://stackoverflow.com/users/3162383/onqtam" itemprop="sameAs">
      <i class="fa fa-fw fa-stack-overflow" aria-hidden="true"></i> Stackoverflow
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/user/onqtam" itemprop="sameAs">
      <i class="fa fa-fw fa-youtube-square" aria-hidden="true"></i> Youtube
    </a>
  </li>
  <li>
    <a href="http://www.imdb.com/user/ur40788994" itemprop="sameAs">
      <i class="fa fa-fw fa-imdb" aria-hidden="true" style="color:orange;"></i> IMDb
    </a>
  </li>
<!--
  <li>
    <a href="https://steamcommunity.com/id/KirilovVik" itemprop="sameAs">
      <i class="fa fa-fw fa-steam-square" aria-hidden="true"></i> Steam
    </a>
  </li>
-->
  <li>
    <a href="https://goodreads.com/onqtam" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Goodreads
    </a>
  </li>
  <li>
    <a href="https://slides.com/onqtam" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Slides
    </a>
  </li>
  <li>
    <a href="https://www.patreon.com/onqtam" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Patreon
    </a>
  </li>
<!--
  <li>
    <a href="https://projecteuler.net/profile/onqtam.png" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Project Euler
    </a>
  </li>
-->